:host {
  font-family: 'Montserrat', sans-serif;
  display: block;
  width: 100%;
  height: 100%;
}

#navbar {
  display: flex;
  align-items: center;
  padding: 15px 40px;
  background-color: white;
  border-bottom: 1px solid #ddd;
}

#logo {
  height: 70px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 30px;
  background-color: white;
  position: relative;
  overflow: hidden;
}

h1 {
  font-weight: 700;
  font-size: 3em;
  margin: 0;
  position: relative;
  animation: slideInFromTop 1s ease-out;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 70px 40px;
  padding: 0;
}

.text-content {
  flex: 1;
  max-width: 50%;
  text-align: left;
  animation: slideInFromLeft 1s ease-out;
}

h2 {
  font-size: 2.2em;
  font-weight: 700;
  margin-bottom: 20px;
  color: #c23f1f;
}

#descriptionText {
  font-size: 1.2em;
  max-width: 100%;
  margin: 0 0 30px 0;
  text-align: left;
}

input {
  padding: 12px;
  margin-top: 20px;
  width: 100%;
  max-width: 350px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 1.1em;
}

button {
  padding: 12px 24px;
  background-color: #000000;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 1.1em;
}

button:hover {
  background-color: #c23f1f;
}

#image {
  margin-top: 0;
  height: auto;
  width: 100%;
  max-width: 500px; /* Reduced size of the image */
  animation: slideInFromRight 1s ease-out;
}

.notification {
  position: fixed;
  top: 20px;
  right: -300px;
  background-color: #d84826;
  color: white;
  padding: 15px;
  font-weight: bold;
  border-radius: 5px;
  z-index: 1000;
  transition: right 1.0s ease-in-out;
}

.notification.show {
  right: 20px;
}

@keyframes slideInFromTop {
  from { transform: translateY(-100%); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

@keyframes slideInFromLeft {
  from { transform: translateX(-100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

@keyframes slideInFromRight {
  from { transform: translateX(100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}
